{:deps {com.cemerick/pomegranate {:mvn/version "1.1.0"}
        org.clojure/tools.cli {:mvn/version "0.4.2"}
        org.clojure/tools.deps.alpha {:mvn/version "0.7.541"}
        stencil {:mvn/version "0.5.0"}
        ;; add this because tools.deps.alpha no longer includes it
        org.slf4j/slf4j-nop {:mvn/version "1.7.25"}
        ;; we pin these so we don't suffer version conflicts from projects
        ;; whose templates bring in conflicting versions (e.g., Luminus)
        com.fasterxml.jackson.core/jackson-core {:mvn/version "2.7.5"}
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.7.5"}
        com.fasterxml.jackson.dataformat/jackson-dataformat-cbor {:mvn/version "2.7.5"}
        com.fasterxml.jackson.dataformat/jackson-dataformat-smile {:mvn/version "2.7.5"}}}
