{:deps {clj-commons/pomegranate {:mvn/version "1.2.0"}
        org.clojure/tools.cli {:mvn/version "0.4.2"}
        org.clojure/tools.deps.alpha {:mvn/version "0.8.666"}
        stencil {:mvn/version "0.5.0"}
        ;; add this because tools.deps.alpha no longer includes it
        org.slf4j/slf4j-nop {:mvn/version "1.7.25"}}}
