{:deps {clj-commons/pomegranate {:mvn/version "1.2.0"}
        org.clojure/tools.cli {:mvn/version "1.0.194"}
        org.clojure/tools.deps.alpha {:mvn/version "0.8.677"}
        stencil/stencil {:mvn/version "0.5.0"}
        ;; add this because tools.deps.alpha no longer includes it
        org.slf4j/slf4j-nop {:mvn/version "1.7.25"}}
 :aliases {:jar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.104"}}
                 :main-opts ["-m" "hf.depstar.jar" "clj-new.jar"]}
           :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "clj-new.jar"]}}}
