{:paths [] ; no src or resources

 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        poly/component-greeter {:local/root "../../components/greeter"}}

 :aliases
 {:test {:extra-paths []
         :extra-deps {}}

  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "{{name}}.jar" :sync-pom true}}

  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "{{name}}.jar"}}

  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "{{name}}.jar"}}}}
