{:paths [] ; no src or resources

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        {{group}}/component-greeter {:local/root "../../components/greeter"}
        {{group}}/base-cli {:local/root "../../bases/cli"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}

           :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.206"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:jar {{name}}.jar
                                 :aot true
                                 :main-class {{namespace}}.cli.main}}}}
