{:paths [] ; no src or resources

 :deps {org.clojure/clojure {:mvn/version "1.11.4"}
        poly/component-greeter {:local/root "../../components/greeter"}}

 :aliases
 {:test {:extra-paths []
         :extra-deps {}}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}}}
