{:vcs {:name "git" :auto-add true}
 :top-namespace "{{namespace}}"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :tag-patterns {:release "v[0-9]*"
                :stable  "stable-*"}
 :projects {"development" {:alias "dev"}
            "{{name}}" {:alias "app"}
            "{{name}}-lib" {:alias "lib"}}}
